services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
        AUTH_SECRET: ${AUTH_SECRET}
        NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
    container_name: ellty-test-2
    image: slaint/ellty
    ports:
      - "3000:3000"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
