version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: app-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # nextjs:
  #   build:
  #     context: ./next-app
  #     dockerfile: Dockerfile
  #   container_name: nextjs-app
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     DATABASE_URL: "postgresql://admin:admin123@postgres:5432/numbers"
  #   depends_on:
  #     - postgres
  #   networks:
  #     - app-network

networks:
  app-network:

volumes:
  postgres_data:
